@font-face {
    font-family: 'norse';
    src: url(fonts/Norse-Bold.otf);
}

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
:root, body {
    font-family: sans-serif; 
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}
picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
*, input, button, textarea, select {
    font: inherit;
    
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
em {
    font-style: italic;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.left-column {
    background-image: url("images/fern.jpg");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    flex: 0.8;
    min-width: 325px;
    display: flex;
    flex-direction: column;

}
.title-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.425);
    font-family: 'norse', 'Courier New', Courier, monospace ;
    color: white;
    font-size: 4em;
    height: 15%;
}
.background-image-credits {
    text-align:  center;
    margin-top: auto;
    margin-bottom: 3%;
    font-size: 0.75em;
    color: white;
    opacity: 0.75;
}
.background-image-credits>a:link,
.background-image-credits>a:visited,
.background-image-credits>a:hover,
.background-image-credits>a:active {
    color: white;
}
.right-column {
    display: flex;
    flex-direction: column;
    flex: 1.15;
}
.info-container,
.form-container,
.button-login-container {
    padding: 25px 50px 20px 30px;
    min-width: 600px;
}
.info-container,
.button-login-container {
    background-color: #f7f7f7;
}
.info-container {
    padding-top: clamp(40px, 5vh, 800px);
    padding-bottom: 0px;
    flex-basis: 255px;
    p {
        width: clamp(555px, 60%, 800px);
        margin: clamp(10px, 2vh, 50px) 0px;
    }
    p:last-of-type {
        padding-top: clamp(10px, 5vh, 50px);
    }
}
.info-container,
.form-container {
    flex-grow: 1;
    font-size: 1.3em;
    line-height: 1.3;
    font-weight: bold;
}
#sign-up>ul {
    list-style-type: none;
}
.button-login-container {
    box-shadow: 0px -3px 6px #c9c9c9;
    flex-grow: 1;
    button {
        margin: 20px 0px;
        padding: 10px 45px;
        border: none;
        border-radius: 5px;
        background-color: #596D48;
        color: white;
        font-weight: bold;
    }
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: #596D48;
        font-weight: bold;
        text-decoration: none;
    }
}
form {
    font-size: 0.45em;
    letter-spacing: 0.15em;
    color: rgb(55, 55, 55);
    label {
        display: block;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
        width: clamp(555px, 60%, 800px);
    }
    li {
        margin: 5px 25px 25px 0px;
        flex: 1 0 250px;
    }
    input {
        font-size: 1.1rem;
        font-weight: normal;
        line-height: 1.4;
        width: 250px;
        border: solid 1px #cccccc;
        background-color: #fafafa;
        border-radius: 5px;
        -webkit-appearance: none;
        appearance: none;
        padding: 2px 5px;
        margin-top: 2px;
    }
    input:focus {
        border: solid 1px #317dee;
        outline: none;
        border-radius: 5px;
        box-shadow: 2px 2px 5px #aaaaaa;
    }
    input:invalid {
        border-color: rgb(235, 120, 120);
    }
    label {
        position: relative;
    }
    label:has(+input[required]:invalid)::before {
        position: absolute;
        content: "*Required";
        color: rgb(235, 100, 100);
        left: 190px;
        bottom: -50px;
        font-size: 0.95em;
    }
    label:has(+input:invalid)::before {
        position: absolute;
        content: "Invalid format";
        width: 85px;
        color: rgb(235, 100, 100);
        left: 165px;
        bottom: -50px;
        font-size: 0.95em;
    }
    label:has(+input[type=password]:invalid)::before {
        position: absolute;
        content: "*Minimum 8 characters. Must include a letter and a number";
        width: 230px;
        color: rgb(235, 100, 100);
        left: 2px;
        bottom: -65px;
        font-size: 0.95em;
    }
}
